<table>
<% @post.comments.each do |comment|%>
	<tr>
		<td><b><%= comment.user.username %> says: </b></td>
		<td><%= comment.content %></td>
	<% if comment.user == current_user || @post.user == current_user %>
		<td>
			<%= link_to "Delete", [@post, comment], :method => :delete, :confirm => "Are u sure?" %>
		</td>
	<% end %>
	</tr>
<% end %>
</table>
