.chatting {
	background-color: black;
	position: absolute;
	bottom: 0%;
	left: 63%;
	color: white;
	width: 22%;
	padding: 0.5%;
	height: 50%;
	border-radius: 10px;
}
.title {
	font-weight: bolder;
	background: #333333;
	border-radius: 5px;
	padding: 0.5%;
}
.chat-close {
	padding: 0.5%;
	border-radius: 5px;
	background-color: #666666;
	float: right;
	cursor: pointer;
}
.chat-space {
	overflow-y: scroll;
	overflow-x: hidden;
	display: inline-block;
	width: 100%;
	height: 80%;
	position: relative;
}
.cur-chat {
	background-color: black;
	position: absolute;
	bottom: 0%;
	left: 86%;
	width: 14%;
	color: #FFFFFF;
	font-weight: bolder;
	cursor: pointer;
}
.cur-chat-closed {
	height: 5%;
}
.cur-chat-open {
	height: 40%;
}
.users-chat {
	overflow-y: scroll;
	overflow-x: hidden;
	display: inline-block;
	width: 100%;
	height: 90%;
	position: relative;
}
.user-chat-rec {
	font-weight: bolder;
	background: #AAAAAA;
	border-radius: 5px;
	padding: 0.5%;
	margin: 2%;	
}
