<br/>
<% if current_user != @post.user %>
<% if Like.get_like(@post, current_user) %>
	<%= form_tag unlike_path(@post), :id => "like_form", :remote => true do %>
		<button type="submit" class="btn btn-mini btn-info">
			<i id ="like_icon" class=" icon-thumbs-down"></i>
			<span id="like_txt">Unlike</span>
		</button>
	<% end %>
<% else %>
	<%= form_tag like_path(@post), :id => "like_form", :remote => true do %>
		<button type="submit" class="btn btn-mini btn-info">
			<i id="like_icon" class=" icon-thumbs-up"></i>
			<span id="like_txt">Like</span>
		</button>
<% end %>
<% end %>
<div id="like_by">
	<span style="font-weight: bolder">Liked by:</span>
	<% @post.likes.map(&:user).each do |user| %>
		<%= link_to user.username, profile_path(user) %><span> | </span>
	<% end %>
</div>
<% end %>
<br/>